[Desktop Entry]
Version=1.0
Type=Link
Name=https://prof-davidaffo.github.io/didattica/
Comment=
Icon=obsidian
URL=https://prof-davidaffo.github.io/didattica/
